@use 'reset'
@use 'theme'

html
  background: var(--window-background)
  box-shadow: inset 0 0 0 1px var(--window-border-color)

#app
  position: relative
  padding: 1px
  height: 100vh
  width: 100%
  overflow: hidden

  .titlebar
    position: absolute
    top: 1px
    z-index: 1
    display: flex
    width: calc(100% - 2px)

    #drag-area
      -webkit-user-select: none
      -webkit-app-region: drag
      flex: 1

    &:hover .btn
      background-color: var(--btn-default-background)

    .btn
      height: 100%
      aspect-ratio: 1
      display: flex
      align-items: center
      justify-content: center
      border-radius: 0
      color: var(--btn-icon-color)
      background-color: transparent
      border: none

      transition: 100ms background, 50ms color

      .wrapper
        display: contents

      &:hover
        background-color: var(--btn-hover-background)

      &#close:hover
        color: var(--btn-close-hover-icon-color)
        background-color: var(--btn-close-hover-background)

  .file-load-dialog
    height: 100%
    font-size: 1em

    #open-file
      font-size: 6em
      width: 100%
      height: 100%
      border: none
      background: var(--open-file-default-background)
      color: var(--window-background)

      transition: 150ms color

      &:hover
        color: var(--open-file-hover-background)

  .content-viewer
    height: 100%

  .status-bar
    position: absolute
    bottom: 1px
    left: 1px
    z-index: 1
    background: var(--status-bar-background)

@media (max-width: 600px)
  #app .file-load-dialog
    font-size: 0.8em

@media (max-width: 200px)
  #app .file-load-dialog
    font-size: 0.4em
